* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-color: #e2fcea; 
    line-height: 1.6;
    font-family: Arial, sans-serif; 
    color: #000000; 
    background-image: url('./images/fundo2.png'); 
    background-repeat: no-repeat;
    background-position: top right; 
    background-attachment: fixed; 
    background-size: 70% 80%;
}


.container {
    margin: 0 auto;
    padding: 20px;
    /* display: flex;
    flex-wrap: wrap;
     */
    /*justify-content: space-between;
    align-items: flex-start; */
    
}
.content {
    display: flex;
    /* align-items: flex-start; */
    gap: 30px;
}

.judo  {
    text-align: justify;
    margin-bottom: 20px;
    max-width: 60%;
    min-width: 300px;
    
   
}

.judo h1{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #004000;
    font-weight: 800
    
}

.judo h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 800
}

.judo p {
    margin-bottom: 15px;
    font-weight: 700
}  

.inventor {
    
    min-width: 300px;
    text-align: center; /* Centraliza a imagem e o texto dentro dessa div */
}
 .inventor img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    border-radius: 10px;
    margin: 20px 80px;
    
} 

.inventor p {
 text-align: center;
 font-weight: 700
}

h2 {
    font-size: 2em; 
    text-align: center;
    margin: 20px 0;
    margin-bottom: 10px;
    color: #004000;
    font-weight: 800
}

.medalhas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

 .judo-item {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
 }

.judo-item:hover {
    transform: translateY(-10px);
} 

.judo-item img {
    width: 150px;
    height: 180px;
    object-fit: cover;
    object-position: center; 
    border-radius: 10px;
    margin-bottom: 15px;
}


.judo-item h3 {
    margin: 10px 0;
    font-size: 1em;
    font-weight: 700
} 

.judo-item p {
    margin: 5px 0;
    color: #555;
    
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
}
.team-member {
    text-align: center; 
    max-width: 200px; 
}

.team-member:hover {
    transform: translateY(-15px);
}

.team-member img {
    width: 150px;  
    height: 150px;  
    object-fit: cover; 
    border-radius: 10px; 
    border: 2px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

h5 {
    font-size: 2em; 
    text-align: center;
    margin: 20px 0;
    margin-bottom: 10px;
    color: #004000;
    font-weight: 800
}

.logo-container {
    display: flex;
    justify-content: center; /* Centraliza os logos horizontalmente */
    gap: 20px; /* Espaço entre os logos */
}

.logo {
    width: 200px; 
    height: auto; 
    margin-bottom: 25px
}

@media screen and (max-width: 600px) {
    body {
        /*background-image: none;*/
        
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column; /* Coloca as divs uma embaixo da outra */
        flex-wrap: wrap;
        
        
    }
    
    .inventor {
        order: 2; /* Garante que a imagem vá para baixo do texto */ 
    }
    .inventor img {
        width: 100%;
        max-width: 300px; 
        height: auto;
        border-radius: 10px;
        margin: 0px 0px;
        
    } 

    .judo {
        order: 1; /* Garante que o texto fique acima da imagem */
        width: 100%;
    }

    .inventor {
        margin: 0;
        width: 70%;
    }
}

@media (max-width: 600px) {
    .team-member {
        flex-direction: column; /* Empilha a imagem e o texto verticalmente */
        align-items: center; /* Centraliza a imagem e o texto */
        text-align: center; /* Centraliza o texto */
    }

    .team-member img {
        width: 80px; /* Ajusta o tamanho da imagem para telas menores */
        height: 80px; /* Ajusta o tamanho da imagem para telas menores */
        margin-right: 0; /* Remove a margem direita para telas menores */
        margin-bottom: 10px; /* Adiciona um espaço abaixo da imagem */
    }
}

